body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f4f6f8;
  color: #222;
  padding: 20px;
  line-height: 1.6;
}

.container {
  max-width: 900px;
  margin: auto;
}

a {
  color: #007acc;
  text-decoration: none;
}

h1, h2 {
  color: #004080;
}
